{% extends 'base.html' %}

{% block content %}

<h2>Update Work Data</h2>

<form method="POST" action="{{ url_for('admin.works.update', id=work.id) }}" enctype="multipart/form-data">

    {{ ckeditor.load(pkg_type="full") }}

    <div class="mb-3">
        <input type="text" name="title" value="{{ work.title }}" class="form-control" placeholder="Works Data Title">
    </div>
    <div class="mb-3">
        <input type="file" name="image" id="" class="form-control" placeholder="Works Data image">
    </div>
    <div class="mb-3">
        <textarea name="detail" id="" cols="30" rows="10" class="form-control">{{ work.detail }}</textarea>
    </div>
    <div class="mb-3">
        <input type="submit" value="Update Technology Data" class="btn btn-warning">
    </div>

{% endblock %}